/* Reset de Estilos */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

/* Barra de Navegación */
nav {
  position: fixed;
  background-color: #2e4053;
  color: #85c1e9;
  padding: 10px;
  text-align: center;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #85c1e9;
}

/* Secciones */
section {
  padding: 20px;
}
#inicio {
  text-align: center; 
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 70px; 
  color: #85c1e9; 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  }

#acerca-de {
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-color: #2e4053;
  border-radius: 5px;
  text-align: justify;
}

#Servicios {
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-color: #2e4053;
  border-radius: 5px;
  text-align: justify;
}
#Servicios li {
  margin-right: 20px;
  width: 90%;
  list-style-type: square;
  border-radius: 5px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

#contacto {
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-color: #2e4053;
  border-radius: 5px;
  text-align: justify;
}

h1,
h2 {
  color: #2e4053;
  text-align:center;
}

#nombre {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#mensaje{
  width: 60%;
  margin: 8px 0;
}
img {
  position: sticky;
  width:60px;
  height:60px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  font-size:30px;
}




/* Pie de Página */
footer {
  background-color: #2e4053;
  color: #85c1e9;
  text-align: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
}
